@font-face {
	font-family : "theme-1-base64-encoded-font";
	src         : url(./fonts/Libre_Barcode_39_Text/LibreBarcode39Text-Regular.ttf);
}

.library {
	font-family : "theme-1-base64-encoded-font";
	@import "../../components/HelloWorld/HelloWorld.theme-1";
}